*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

.background {
    background:
        radial-gradient(circle at top left, rgba(46, 204, 112, 0.233), transparent 45%),
        linear-gradient(160deg, #020617, #0f182c);
    width: 100%;
    height: 100vh;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.cabecalho-link {
    display: flex;
    align-items: center;
    gap: 6rem;
}

.cabecalho-link li {
    transition: transform 0.3s ease;
}

.cabecalho-link li:hover {
    transform: scale(1.09);
}

.cabecalho-link a {
    color: white;
    font-size: 15px;
}

.cabecalho-link a:hover {
    color: #3498db;
    transform: scale(1.1);
}

.logo {
    height: 45px;
    width: 45px;
    background: transparent;
    border: 1px solid #3498db;
    color: #3498db;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor:default;
    transition: 0.3s;
}

.logo:hover {
    color: white;
    background-color: #3498db;
    transform: scale(1.12);
}

button {
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    border-radius: 17px;
    padding: 9px;
    font-size: 14px;
    width: 126px;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
    color: white;
    transition: 0.4s;
}

.text h3{
    color: white;
    font-size: 20px;
}

.text h1{
    color: white;
    margin-top: 10px;
    font-size: 40px;
}

.text span{
    color: #3498db;
}

.text p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-top: 8px;
}

.redes-sociais{
    font-size: 20px;
    margin-top: 5px;
}

.redes-sociais a {
    color: #2ecc71;
    padding: 20px;
    font-size: 30px;
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
}

.redes-sociais a:hover {
    transform: translateY(-5px) scale(1.2);
    color: #37e680;
}

.container-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 120px);
    padding: 9rem 8rem;
}

.text {
    max-width: 500px;
}

.linguagens {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 20px;
}

.linguagens img {
    width: 160px;
    transition: transform 0.3s;
}

.linguagens img:hover {
    transform: scale(1.1);
}


