*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

.background {
    background:
        radial-gradient(circle at top left, rgba(46, 204, 112, 0.233), transparent 45%),
        radial-gradient(circle at bottom right, rgba(1, 243, 102, 0.20), transparent 45%),
        linear-gradient(160deg, #020617, #0f182c);
    width: 100%;
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.cabecalho-link {
    display: flex;
    align-items: center;
    gap: 6rem;
}

.cabecalho-link li {
    transition: transform 0.3s ease;
}

.cabecalho-link li:hover {
    transform: scale(1.09);
}

.cabecalho-link a {
    color: white;
    font-size: 15px;
}

.cabecalho-link a:hover {
    color: #3498db;
    transform: scale(1.1);
}

.logo {
    height: 45px;
    width: 45px;
    background: transparent;
    border: 1px solid #3498db;
    color: #3498db;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor:default;
    transition: 0.3s;
}

.logo:hover {
    color: white;
    background-color: #3498db;
    transform: scale(1.12);
}

button {
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    border-radius: 17px;
    padding: 9px;
    font-size: 14px;
    width: 126px;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
    color: white;
    transition: 0.4s;
}

.text h3{
    color: white;
    font-size: 20px;
}

.text h1{
    color: white;
    margin-top: 10px;
    font-size: 40px;
}

.text span{
    color: #3498db;
}

.text p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-top: 8px;
}

.redes-sociais{
    font-size: 20px;
    margin-top: 5px;
}

.redes-sociais a {
    color: #2ecc71;
    padding: 20px;
    font-size: 30px;
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
}

.redes-sociais a:hover {
    transform: translateY(-5px) scale(1.2);
    color: #37e680;
}

.container-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 120px);
    padding: 9rem 8rem;
}

.text {
    max-width: 500px;
}

.linguagens {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 20px;
}

.linguagens img {
    width: 160px;
    transition: transform 0.3s;
}

.linguagens img:hover {
    transform: scale(1.1);
}

.feedback {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.feedback-card {
    width: 100%;
    max-width: 510px;
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 25px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.feedback-card h2 {
    color: #fff;
    margin-bottom: 15px;
}

.feedback-card p {
    color: #bdbdbd;
    font-size: 14px;
    margin-bottom: 25px;
}

.feedback-card input,
.feedback-card textarea {
    width: 98%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: none;
    background: #0f172a;
    color: #fffffff6;
    outline: none;
    transition: opacity 0.3s ease;
}


.feedback-card input:hover,.feedback-card textarea:hover {
    opacity: 0.8;
}

.feedback-card textarea {
    resize: none;
    height: 130px;
}


.feedback-card button {
    background: #25D366;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
    transition: transform 0.3s ease;
    
}

.feedback-card button:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

/*estilo do toast */
.toast {
    display: none;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 20px;
    font-size: 16px;
    max-width: 300px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    text-align: center;
    opacity: 0;
    z-index: 9999;  
}

.toast-sucesso {
    background-color: #25D366;
}

.toast-erro {
    background-color: rgba(255, 0, 0, 0.808);
}

.toast-sucesso.show {
    display: block;
    animation: entradaSaida 1.4s ease-in-out;
}

.toast-erro.show {
    display: block;
    animation: entradaEshake 1s ease-in-out forwards;
}


@keyframes entradaEshake{
    0% { opacity: 0; top: -60px; transform: translateX(-50%); }
    50% { opacity: 1; top: 60px; transform: translateX(-50%); }
    60% { transform: translateX(-52%); }
    70% { transform: translateX(-48%); }
    80% { transform: translateX(-52%); }
    90% { transform: translateX(-48%); }
    100% { transform: translateX(-50%); }
}

@keyframes entradaSaida {
    0% { opacity: 0; top: -10px; transform: translateX(-50%); }
    10% { opacity: 1; top: 60px; transform: translateX(-50%); }
    90% { opacity: 1; top: 60px; transform: translateX(-50%); }
    100% { opacity: 0; top: -10px; transform: translateX(-50%); }
}









