* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    color: white;
}
.background {
    background:
        radial-gradient(circle at top left, rgba(52, 152, 219, 0.15), transparent 40%),
        radial-gradient(circle at bottom right, rgba(46, 204, 219, 0.02), transparent 40%),
        linear-gradient(160deg, #020617, #0f182c);
    width: 100%;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 1rem;
}

header h1 {
    font-size: 40px;
    color: #2ecc71;
    padding: 80px;
    transition: all 0.3s ease-out;
}

header h1:hover {
    transform: translateY(-7px);
    text-shadow: 0 0 20px rgba(46, 204, 112, 0.4);
    cursor: default;
}

header p {
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.8;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    padding: 40px;
}


.card-projeto {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(52, 152, 219, 0.4);
    border-radius: 20px;
    padding: 2rem;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 96%;
}

.card-projeto h3 {
    margin-left:4px;
    margin-bottom: 13px;
    color: #3498db;
}

.card-projeto p {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-projeto a {
    color: #2ecc71;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.card-projeto:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.4);
}
